absl-py==2.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
audio-separator==0.18.0
audioread==3.1.0
beartype==0.18.5
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.2.1
coloredlogs==15.0.1
contextlib2==21.6.0
cryptography==46.0.5
Cython==3.2.4
decorator==5.2.1
diffq==0.2.4
einops==0.8.2
exceptiongroup==1.3.1
faiss-cpu==1.9.0
fastapi==0.128.8
filelock==3.19.1
flatbuffers==25.12.19
fsspec==2025.10.0
google-api-core==2.30.0
google-api-python-client==2.190.0
google-auth==2.48.0
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.4
googleapis-common-protos==1.72.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
huggingface_hub==1.4.1
humanfriendly==10.0
idna==3.11
Jinja2==3.1.6
joblib==1.5.3
julius==0.2.7
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
ml_collections==0.1.1
ml_dtypes==0.5.4
mpmath==1.3.0
msgpack==1.1.2
music2latent==0.1.8
networkx==3.2.1
numba==0.60.0
numpy==1.26.4
oauthlib==3.3.1
onnx==1.19.1
onnx2torch==1.5.15
onnxruntime==1.19.2
pillow==11.3.0
platformdirs==4.4.0
pooch==1.9.0
proto-plus==1.27.1
protobuf==6.33.5
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pydub==0.25.1
python-dotenv==1.2.1
Pygments==2.19.2
pyparsing==3.3.2
python-multipart==0.0.20
PyYAML==6.0.3
requests==2.32.5
requests-oauthlib==2.0.0
resampy==0.4.3
rich==14.3.3
rotary-embedding-torch==0.6.5
rsa==4.9.1
samplerate==0.1.0
scikit-learn==1.6.1
scipy==1.13.1
shellingham==1.5.4
six==1.17.0
soundfile==0.13.1
soxr==1.0.0
starlette==0.49.3
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.8.0
torchvision==0.23.0
tqdm==4.67.3
typer==0.23.2
typer-slim==0.23.2
typing-inspection==0.4.2
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.39.0
